body {
  background-color: SandyBrown;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 300%;
  font-family: "IM Fell English SC";
}
.stage1 {
  display: flex;
  justify-content: center;
  font-size: 150%;
  font-family: "IM Fell English SC";
}
.race .selectRace {
  display: flex;
  font-family: "IM Fell English SC";
  background-color: Wheat;
  width: 200px;
  height: 40px;
  border: 2px solid;
  font-size: 20px;
  padding: 8px 16px; 
  outline: none;
}
